-- MySQL dump 10.13  Distrib 5.1.73, for Win32 (ia32)
--
-- Host: localhost    Database: medic
-- ------------------------------------------------------
-- Server version	5.1.73-community

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_user`
--

DROP TABLE IF EXISTS `admin_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_user` (
  `name` varchar(100) DEFAULT NULL,
  `username` varchar(100) NOT NULL,
  `password` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_user`
--

LOCK TABLES `admin_user` WRITE;
/*!40000 ALTER TABLE `admin_user` DISABLE KEYS */;
INSERT INTO `admin_user` VALUES ('anoop','anoop','1234'),('dakshayani','dakshayani','1234');
/*!40000 ALTER TABLE `admin_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admission`
--

DROP TABLE IF EXISTS `admission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admission` (
  `roll_no` int(11) DEFAULT NULL,
  `cause` varchar(100) DEFAULT NULL,
  `discharge_date` date DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `status` varchar(100) DEFAULT NULL,
  `discharge_timestamp` datetime DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admission`
--

LOCK TABLES `admission` WRITE;
/*!40000 ALTER TABLE `admission` DISABLE KEYS */;
INSERT INTO `admission` VALUES (3,'Fever','2020-10-10','2020-10-10 04:19:06','Discharged','2020-10-10 09:49:06'),(3,'Fever','2020-10-10','2020-10-10 04:19:06','Discharged','2020-10-10 09:49:06');
/*!40000 ALTER TABLE `admission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadet`
--

DROP TABLE IF EXISTS `cadet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cadet` (
  `roll_no` int(11) NOT NULL,
  `name` varchar(200) DEFAULT NULL,
  `class` int(2) DEFAULT NULL,
  `section` char(1) DEFAULT NULL,
  `house` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`roll_no`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadet`
--

LOCK TABLES `cadet` WRITE;
/*!40000 ALTER TABLE `cadet` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadet_log`
--

DROP TABLE IF EXISTS `cadet_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cadet_log` (
  `roll_no` int(11) DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadet_log`
--

LOCK TABLES `cadet_log` WRITE;
/*!40000 ALTER TABLE `cadet_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadet_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadet_user`
--

DROP TABLE IF EXISTS `cadet_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cadet_user` (
  `roll_no` int(11) DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  KEY `roll_no` (`roll_no`),
  CONSTRAINT `cadet_user_ibfk_1` FOREIGN KEY (`roll_no`) REFERENCES `cadet` (`roll_no`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadet_user`
--

LOCK TABLES `cadet_user` WRITE;
/*!40000 ALTER TABLE `cadet_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadet_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fit_house`
--

DROP TABLE IF EXISTS `fit_house`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fit_house` (
  `house` varchar(100) DEFAULT NULL,
  `bmi` int(11) DEFAULT NULL,
  `eye_sight` int(11) DEFAULT NULL,
  `admission` int(11) DEFAULT NULL,
  `total_points` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fit_house`
--

LOCK TABLES `fit_house` WRITE;
/*!40000 ALTER TABLE `fit_house` DISABLE KEYS */;
INSERT INTO `fit_house` VALUES ('Penna',0,0,NULL,NULL),('Krishna',0,0,NULL,NULL),('Godavari',28,0,NULL,NULL),('Tungabhadra',0,0,NULL,NULL);
/*!40000 ALTER TABLE `fit_house` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `issue_medicine`
--

DROP TABLE IF EXISTS `issue_medicine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `issue_medicine` (
  `roll_no` int(11) DEFAULT NULL,
  `cause` varchar(100) DEFAULT NULL,
  `medicine` varchar(100) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `end_date` date DEFAULT NULL,
  `status` varchar(100) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `issue_medicine`
--

LOCK TABLES `issue_medicine` WRITE;
/*!40000 ALTER TABLE `issue_medicine` DISABLE KEYS */;
INSERT INTO `issue_medicine` VALUES (3,'Stomach Ache','Tab Pantop -D',5,'2020-10-06 04:17:07','2020-10-08','Under Medication'),(3,'Stomach Pain','Tab Pantop -D',5,'2020-10-06 04:44:45','2020-10-08','Under Medication'),(3,'Cold','Tab Setride',10,'2020-10-06 06:58:55','2020-10-09','Under Medication');
/*!40000 ALTER TABLE `issue_medicine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medical_data`
--

DROP TABLE IF EXISTS `medical_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medical_data` (
  `roll_no` int(11) DEFAULT NULL,
  `height` decimal(4,1) DEFAULT NULL,
  `weight` decimal(5,2) DEFAULT NULL,
  `BMI` decimal(4,2) DEFAULT NULL,
  `BMI_status` varchar(100) DEFAULT NULL,
  `eye_l` decimal(3,2) DEFAULT NULL,
  `eye_r` decimal(3,2) DEFAULT NULL,
  `latest_timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medical_data`
--

LOCK TABLES `medical_data` WRITE;
/*!40000 ALTER TABLE `medical_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `medical_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `medicine`
--

DROP TABLE IF EXISTS `medicine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `medicine` (
  `medicine_name` varchar(100) NOT NULL,
  `usage_or_indications` varchar(200) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `expiry` date DEFAULT NULL,
  PRIMARY KEY (`medicine_name`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `medicine`
--

LOCK TABLES `medicine` WRITE;
/*!40000 ALTER TABLE `medicine` DISABLE KEYS */;
/*!40000 ALTER TABLE `medicine` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `points_log`
--

DROP TABLE IF EXISTS `points_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `points_log` (
  `roll_no` int(11) DEFAULT NULL,
  `name` varchar(100) DEFAULT NULL,
  `points_added` int(11) DEFAULT NULL,
  `cause` varchar(100) DEFAULT NULL,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `points_log`
--

LOCK TABLES `points_log` WRITE;
/*!40000 ALTER TABLE `points_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `points_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timing`
--

DROP TABLE IF EXISTS `timing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `timing` (
  `added_by` varchar(100) DEFAULT NULL,
  `date` date NOT NULL DEFAULT '0000-00-00',
  `Start` time DEFAULT NULL,
  `End` time DEFAULT NULL,
  PRIMARY KEY (`date`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timing`
--

LOCK TABLES `timing` WRITE;
/*!40000 ALTER TABLE `timing` DISABLE KEYS */;
INSERT INTO `timing` VALUES ('pranav','2020-10-11','12:10:00','13:00:00');
/*!40000 ALTER TABLE `timing` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-02-07 11:15:05
